server:
{{- if not .Values.jxRequirements.ingress.tls.enabled }}
  extraArgs:
  - --insecure
{{- end }}
  ingressGrpc:
    enabled: true
    hosts:
    - argogrpc{{ .Values.jxRequirements.ingress.namespaceSubDomain }}{{ .Values.jxRequirements.ingress.domain }}
  ingress:
    enabled: true
    hosts:
    - argo{{ .Values.jxRequirements.ingress.namespaceSubDomain }}{{ .Values.jxRequirements.ingress.domain }} 
